<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/ART.2008.Jupyter.v2.gif)

1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button or the `command`+`s` keys (Mac) or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Exercise 1: What is a visual argument?

#### Setup

In [11]:
# import pandas to view our data
import pandas as pd
# import matplotlib
from matplotlib import pyplot as plt

# load datasets
data = pd.read_csv('Tapajos_inventory_data_2010 - Tapajos_inventory_data_2010.csv')
avg_heights = pd.read_csv('average_heights.csv')

In [12]:
data.shape

(3390, 16)

1. Run the Setup cell above to import the necessary packages and load our datasets. Then, in the cell below, type `data.head()` and run the cell to preview the first five lines of the full dataset.

In [13]:
## YOUR SOLUTION HERE ##
data.head()    # df shape: (3390, 16)

,plot,type,origin,tree,family,genus,scientific_name,common_name,density_wood,dbh,ht_crown_base,ht_total,CALC_ht_total_cm,depth_crown,stem_x,stem_y
0,1,SF,NE,1,Hypericaceae,Vismia,Vismia guianensis,Lacre branco,0.480,5.9,4.5,6.0,600,1.5,1.8,5.5
1,1,SF,NE,2,Salicaceae,Banara,Banara nitida,Cabelo de cutia,0.600,7.4,4.5,7.1,710,2.6,3.5,7.0
2,1,SF,NE,3,Salicaceae,Banara,Banara nitida,Cabelo de cutia,0.600,6.3,5.0,7.1,710,2.1,3.5,0.1
3,1,SF,NE,4,Salicaceae,Banara,Banara nitida,Cabelo de cutia,0.600,5.4,2.3,4.3,430,1.9,5.0,5.0
4,1,SF,NE,5,Chrysobalanaceae,Couepia,Couepia sp.,Macucu,0.791,8.1,7.6,9.3,930,1.7,6.5,1.5

The image below demonstrates the difference between `ht_total`, `ht_crown_base`, and `depth_crown`. `density_wood` is the density of that species of wood (a previously established literature value).

<img src="https://static-assets.codecademy.com/Courses/data-viz-with-python/tree-trunk-diagram.png" alt="`ht_total` refers to the total height of tree: trunk and leaves. `ht_crown_base` refers to the height of the tree's trunk. `depth_crown` refers to the height of the tree's leafy portion." width=400 />

2. Type in `avg_heights` and run the cell to see the whole `avg_heights` dataset and compare the two datasets. What do they have in common, and how are they different?

In [14]:
## YOUR SOLUTION HERE ##
avg_heights

         family      trunk    leaves  total_height
0      Fabaceae   8.250478  7.203633     15.450287
1    Urticaceae   9.109798  4.146398     13.251297
2    Salicaceae   6.042415  4.763158     10.805263
3    Annonaceae   7.748108  5.525405     13.270811
4  Boraginaceae  10.992045  4.327841     15.323295

<details>
    <summary style="display:list-item; font-size:16px; color:blue;"><i>What do the datasets have in common, and how are they different?</i></summary>
While both datasets tell us about the types and size of trees around the Tapajos River in Brazil, `avg_heights` is an aggregated subset of the data in `tree_data`. It takes only five of the families (the 5 most common), and contains only three measures for each family: the average heights of the trunk, the leaf crown, and the full tree. </summary>